<h3> {{ product['name'] }} </h3>

<p> {{ product['category'] }} </p>
<p> $ {{ product['price'] }} </p>

<p> Filter default: {{ product['price'] | default('Sin precio', True) }} </p>

<p>{{ "<h1>Hola mundo</h1>" | safe }}</p>
<p>{{ "Descripción bastante largo para una prueba para el filtro de truncate" | truncate(23) }}</p>
<p>{{ "Descripción bastante largo para una prueba para el filtro de truncate" | count }}</p>
<p>{{ 70 | float }}</p>
<p>{{ 70.87 | int }}</p> 
<p>{{ 3.1415926535 | round(3) }}</p> 
<p>{{ ["iPhone", "iPad"] | join(", ") }}</p> 
<p>{{ ["iPhone", "iPad"] | length }}</p> 
<p>{{ { 'offer': false, 'price': 50.5, 'K': 45 } | tojson }}</p> 

<p> {{ product['price'] | mydouble  }}</p> 
<p> {{ product | iva  }}</p> 
